<a href="https://colab.research.google.com/github/Kalabras/HandWritten_Digit_Recognition_ML_Model/blob/main/HousePricesPrediction_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#importing Pandas
import pandas as pd
#importing Decision Tree regressor from scikit-learn
from sklearn.tree import DecisionTreeRegressor
#importing mean_absolute_error
from sklearn.metrics import mean_absolute_error
#importing train_test_split
from sklearn.model_selection import train_test_split

In [4]:
#importing our data that is in csv format and showing a sample of it
#data is taken from "https://www.kaggle.com/datasets/dansbecker/melbourne-housing-snapshot"
melbourne_Data_path = "/content/melb_data.csv"
melbourneData = pd.read_csv(melbourne_Data_path)
melbourneData.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6809.000000,6.808000e+03,6808.00000,6808.000000,6808.000000,6808.000000,6808.000000,6808.000000,3817.000000,4364.000000,6808.000000,6808.000000,6808.000000
mean,2.841680,1.091370e+06,8.47215,3095.975323,2.800676,1.509401,1.524236,456.953290,145.449830,1961.177589,-37.809056,144.987059,7815.095182
std,0.957325,6.581367e+05,3.57933,59.537244,0.944510,0.699367,0.921640,1336.263109,158.486262,37.734592,0.060938,0.074027,4395.729809
min,1.000000,8.500000e+04,1.20000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1830.000000,-37.946200,144.788900,394.000000
25%,2.000000,6.500000e+05,5.60000,3044.000000,2.000000,1.000000,1.000000,130.000000,88.000000,1930.000000,-37.852200,144.933075,4675.000000
50%,3.000000,9.100000e+05,8.70000,3081.000000,3.000000,1.000000,1.000000,336.000000,122.000000,1965.000000,-37.802100,144.995800,6821.000000
75%,3.000000,1.350000e+06,11.20000,3145.000000,3.000000,2.000000,2.000000,616.000000,170.000000,1998.000000,-37.762375,145.042300,10412.000000
max,8.000000,6.500000e+06,15.00000,3207.000000,9.000000,8.000000,8.000000,75100.000000,6791.000000,2018.000000,-37.691700,145.143800,21650.000000

In [5]:
#showing the columns our data contains, this will be important in choosing the features we need
melbourneData.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
#dropping the missing data
melbourneData.dropna(axis=0)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6796,Brunswick East,14 Hutchinson St,3,h,998000.0,S,Nelson,23/04/2016,4.5,3057.0,...,1.0,2.0,104.0,118.0,2000.0,Moreland,-37.7723,144.9761,Northern Metropolitan,5533.0
6797,Brunswick East,1/10 Linden St,3,t,1010000.0,S,Nelson,23/04/2016,4.5,3057.0,...,2.0,1.0,0.0,133.0,2014.0,Moreland,-37.7740,144.9731,Northern Metropolitan,5533.0
6799,Brunswick East,156 Glenlyon Rd,3,h,1050000.0,S,Nelson,27/06/2016,4.5,3057.0,...,1.0,1.0,279.0,122.0,1900.0,Moreland,-37.7729,144.9722,Northern Metropolitan,5533.0
6802,Brunswick East,192 Blyth St,3,h,1600000.0,S,Jellis,27/11/2016,4.5,3057.0,...,1.0,2.0,812.0,113.0,1920.0,Moreland,-37.7673,144.9782,Northern Metropolitan,5533.0
6803,Brunswick East,120 Victoria St,3,h,1325000.0,PI,Jellis,27/11/2016,4.5,3057.0,...,2.0,2.0,190.0,135.0,1940.0,Moreland,-37.7684,144.9739,Northern Metropolitan,5533.0

In [7]:
#choosing our prediction target, the variable that we will predict
y = melbourneData.Price

In [8]:
#choosing features we will train our model with and storing them in a dataframe called "x"
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude'] #list of the features we need
x = melbourneData[melbourne_features] #dataFrame of the features we need
x.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6809.000000  6808.000000   6808.000000  6808.000000  6808.000000
mean      2.841680     1.509401    456.953290   -37.809056   144.987059
std       0.957325     0.699367   1336.263109     0.060938     0.074027
min       1.000000     0.000000      0.000000   -37.946200   144.788900
25%       2.000000     1.000000    130.000000   -37.852200   144.933075
50%       3.000000     1.000000    336.000000   -37.802100   144.995800
75%       3.000000     2.000000    616.000000   -37.762375   145.042300
max       8.000000     8.000000  75100.000000   -37.691700   145.143800

In [9]:
#shows the first rows of the data 
x.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

In [12]:
#splitting the data into testing data and validation data
train_X, val_X, train_y, val_y = train_test_split(x, y,random_state=1)

In [13]:
#Defining the model's type and setting the random_state to a number means we will have the same result each time
melbourneModel = DecisionTreeRegressor(random_state=1)
#Fitting the model, training the model on the training data we have (x) to predict the variable we want (y)
#in this case we fit our model using the training data part that we split previously
melbourneModel.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [15]:
val_X.dropna(axis=0)

      Rooms  Bathroom  Landsize  Lattitude  Longtitude
3667      3       1.0     857.0   -37.7981    145.0423
2406      3       1.0     438.0   -37.7540    144.9260
3408      2       1.0     199.0   -37.7666    145.0356
2142      4       2.0     655.0   -37.7820    145.1194
784       4       4.0     579.0   -37.9155    145.0243
...     ...       ...       ...        ...         ...
5449      3       1.0     627.0   -37.7367    145.0797
934       4       1.0     741.0   -37.9229    145.0673
4285      8       2.0     663.0   -37.8385    144.8824
2196      3       2.0     192.0   -37.7942    145.1256
700       3       2.0     613.0   -37.9311    145.0428

[1702 rows x 5 columns]

In [16]:
# we get the predictions here
val_predictions = melbourneModel.predict(val_X)

ValueError: ignored

In [17]:
# Checking the predictions against the validations data
print(val_predictions[:5])
print("-------------")
print(val_y[:5])

NameError: ignored